@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --col-body: rgb(24, 63, 76);
    --col-navbar: rgb(44, 123, 123);
    --col-footer: rgb(78, 119, 119);
    --col-button: rgb(19, 110, 110);
    --col-text: rgb(255, 255, 255);
    --col-logo-text: rgb(45, 45, 41);
    --col-bg-white: rgb(255, 255, 255);
    --col-text-body: rgb(33, 90, 109);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
}


body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--col-body);
    color: var(--col-text);
}

ul,
li {
    list-style: none;
}


@font-face {
    font-family: 'Themify';
    src: url('/assets/fonts/themify.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'Themify', sans-serif;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-f {
    font-family: 'FontAwesome', sans-serif;
}


/* CONTACT-FORM  */
.double-border {
    position: relative;
    padding: 20px;
    border: 2px solid var(--col-navbar);
}

.double-border::before,
.double-border::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    right: -10px;
    bottom: 10px;
    border: 2px solid var(--col-bg-white);
    pointer-events: none;
}


